@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
html {
  overflow-x: hidden;
}
body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
    line-height: 30px;
    overflow-x: hidden;
}

/****** global *******/
.wrapper {
  width: 95%;
  margin: auto;
  padding: 0 16px;
}

.border {
  border-top: 3px solid #e0402f;
  width:60px;
  margin: 0px auto;
  margin-bottom: 20px;
}


h2 {
  font-size: 84px;
  margin:0;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  margin: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-top:12px;
  color: #606060;
}

h5 {
  font-size: 20px;
}
@media (max-width: 767px) {
  h2 {
    font-size:60px;
  }

  h4 {
    font-size:20px;
  }
}
/***** Top menu *****/
.top-content {
  position: fixed;
  z-index: 10000;
  background-color: rgba(255,255,255,1.0);
  width: 100%;
}

.current {
  color: #e0402f;
  border-bottom: 2px solid #e0402f;
}

.logo-name {
  font-family: 'Archivo Black';
}
.navbar {
	margin-bottom: 0;
	background: none;
	border: 0;
}

ul.navbar-nav {
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
  margin-top: 20px;
}

.nav-logo {
  float: left;
}

.navbar-brand {
	width: 102px;
  height: 90px;
	text-indent: -99999px;
  /* float: left; */
}

.navbar-brand {
  background-image: url('../images/global/logo.png') !important;
  background-repeat: no-repeat !important;
  background-size: 92px 80px !important;
}

.nav-logo p {
  float: right;
  padding-top: 30px;
  color: #e0402f;
  font-size: 16px;
  font-weight: 900;
  margin-left: -15px;
}

.navbar-inverse ul.navbar-nav li a {
  color: #000;
  border: 0;
}

.navbar-inverse ul.navbar-nav li a:hover {
  color: #e0402f;
  border-bottom: 2px solid #e0402f;
}

.navbar-inverse ul.navbar-nav li a:focus {
  color: #e0402f;
  outline: 0;
  border: 0;
}

.navbar-inverse ul.navbar-nav li a.btn-link-3 {
	display: inline-block;
	margin: 9px 0 0 15px;
  margin-top: 0px;
	border: 1px solid #e0402f;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
  font-weight: 400;
  color: #e0402f;
  opacity: 1;
  text-transform: uppercase;
  border-radius: 0px;
}
.navbar-inverse ul.navbar-nav li a.btn-link-3:hover,
.navbar-inverse ul.navbar-nav li a.btn-link-3:focus,
.navbar-inverse ul.navbar-nav li a.btn-link-3:active,
.navbar-inverse ul.navbar-nav li a.btn-link-3:active:focus {
  outline: 0;
  color: #fff;
  background-color: #e0402f;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 3px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover {
  color: #000;
  background-color: #f4f4f4;
}

.navbar-inverse ul.navbar-nav li a.btn-link-3 p {
  font-size: 8px;
  margin: 0px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #f4f4f4;
}

.popover {
  border-radius:0;
  border: 1px solid red;
}
.popover-content {
  padding: 0;
}

.popover.left {
  margin-top: 65px;
  margin-left: 30px;
}
.popover.left>.arrow {
  display: none;
}

.popover-content input.form-control {
  color:black;
  width: 200px;
  border-style: none;
  border: none;
  font-family: 'Oswald', sans-serif;
}

.popover-content input.form-control::placeholder {
  color:black;
}

a:hover#search {
  cursor: pointer;
}

#searchresponsive {
  display: none;
}

#searchresponsive input.form-control{
  width: 150px;
  color: black;
  margin: auto;
}
#searchresponsive input.form-control::placeholder {
  color: black;
  text-align: center;
}

#searchresponsive input.form-control:focus {
  border: 1px solid red;
  box-shadow: none;
}

@media (min-width: 767px) and (max-width: 1000px) {
  .top-content .nav-logo .logo-name {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    text-align: center;
  }
  .navbar-inverse ul.navbar-nav li a.btn-link-3 {
    border: none;
    margin: 0px;
  }
  ul.navbar-nav {
    text-align: center;
  }
  #searchresponsive {
    display: block;
  }
  #searchlaptop {
    display: none;
    margin: auto;
  }
}



/* Landing Page */
#landing-pg {
  height: 800px;
}

#landing-pg h2 {
  margin-top:36px;
  margin-bottom: 10px;
  font-size: 52px;
}

#bannerform {
  position: absolute;
  z-index:100;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 220px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

#landing-pg .wrapper {
  width: 100%;
}

#bannerform .row {
  margin: 0;
}


#bannerform .col-sm-3 {
  margin-top: 40px;
}

#bannerform .col-sm-2 {
  padding: 8px;
}

.form-control, .form-button{
  width: 100%;
  height: 40px;
  display: block;
  border-style: none;
  border: 1px solid white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  background-color: rgba(255,255,255,.2);
}

.form-control option.inlist {
  color: black;
}

.form-control:focus {
  border: 1px solid white;
}

.form-control::placeholder {
  color: white;
}

.form-button {
  font-weight: 300;
  background-color: #e0402f;
  border: #e0402f 1px solid;
  margin-top:40px;
  text-decoration: none;

}

.form-button:hover {
  color: white;
}

a:hover {
  text-decoration: none;
}

.banner {
  height: 100%;
  position: relative;
  background-size: auto;
  border-bottom: solid 3px #e0402f;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/home/background.jpg');
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767px) {
  .wrapper#bannerform {
    margin-top:130px;
  }
  #bannerform .col-sm-3 {
    margin-top: 15px;
  }

  #bannerform .col-sm-2 {
    margin-top: 15px;
  }
}

/******** Tour **********/

#tours {
  text-align: center;
  margin-top: 80px;
}

#tours h2 {
  font-size: 36px;
}

.tours .tourprice {
  min-width: 90px;
  max-height: 60px;
  background-color:#e0402f;
  position: absolute;
  padding: 8px 6px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Montserrat';
  font-size: 18px;
}

.tours .tourprice small {
  font-size:12px;
  color: black;
  font-family: 'Montserrat';
}

.tours .tourprice .priceinner {
  margin: auto;
  margin-bottom: 5px;
  font-family: 'Montserrat';
  font-size: 18px;
}

.tours .tourback {
  display: inline-block;
  width: 30%;
  height: 380px;
  margin: 0 5px;
}

.tours .tourback img {
  width: 100%;
  height: 80%;
  margin-top: 0px;
  display: inline-block;
}

.tours .tourback .touroverlay {
  position: absolute;
  bottom: 0;
  background-color: white;
  border: 0.5px solid #ccc;
  border-top: 3px solid #e0402f;
  overflow: hidden;
  width: 30%;
  height: 20%;
  transition: .5s ease;
}

.tours .tourback:hover .touroverlay {
  height: 48%;
}

.tours .tourback .touroverlay .tourtext {
  color: black;
  text-align: left;
  padding: 5px 10px;

}

.tours a {
  color: black;
  text-decoration: none;
}

.tours .tourtext a:hover, .tours .tourtext a:hover p {
  color: #e0402f;
}

.tours .tourtext h5 {
  margin-bottom: 0px;
  padding: 0;
}

.tours .tourtext img {
  width: 56px;
  height: 9px;
  display: inline-block;
  padding-right: 5px;
}

.tours .tourtext p {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: 10px;
}

.tours p.reviewcount, .tours .tourdates p {
  font-size: 8px;
}

.tours .tourdates {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
  width: 95%;
  transition: bottom 0.5s ease;
}

.tours .tourback:hover .tourdates {
  bottom: 5px;
}

.tours .tourdates p{
  display: inline-block;
  text-align: center;
}

.tours .tourdates img{
  width: 15px;
  height: 10px;
}

.tours .tourdates p:first-child {
  margin-right: 5px;
}

.tours .carousel-indicators {
  position: relative;
  padding-top: 36px;
}

.tours .carousel-indicators li, .tours .carousel-indicators li.active {
  background-color: #f2f2f2;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  margin: 0px 4px;
}

.tours .carousel-indicators li.active {
  background-color: #e0402f;
}

#responsivecarousel {
  display: none;
}

.singaporealign {
  display: flex;
  align-items: center;
  justify-content: center;
}
.singaporemap {
  height: 129.6px;
  width: 251.2px;
  margin-top: 10%;
  text-align: left;
}

.undermap {
  margin: auto;
}
.undermap img {
  position: absolute;
  cursor: pointer;
}

#sg1, #sgselected1{
  width: 120px;
  height: 115px;
  transform:translate(0%, 9%);
}

#sg2, #sgselected2{
  width: 66.4px;
  height: 101.6px;
  transform:translate(122%, 0%);
}

#sg3, #sgselected3{
  width: 63.2px;
  height: 107.2px;
  transform:translate(168%, 21%);
}

#sg4, #sgselected4{
  width: 64px;
  height: 61.6px;
  transform:translate(237%, 46%);
}

#sg5, #sgselected5{
  width: 108.8px;
  height: 66.4px;
  transform:translate(131%, 72%);
}

.overmap {
  display: none;
}

.undermap:hover .overmap {
  display: block;
}

@media (max-width: 991px) {
  .singaporemap {
    display: none;
  }
  .tours .tourback .touroverlay {
    height: 48%;
  }

  .tours .tourback:hover .touroverlay {
    height: 48%;
  }
  #tours p#spotlight {
    width: 80%;
    margin: 10px auto;
  }

  .tours .tourback .tourdates {
    bottom: 5px;
  }
}

@media (max-width: 767px) {

  #myCarousel {
    display: none;
  }
  #responsivecarousel {
    display: block;
    margin: 30px 0 60px 0;
  }
  #responsivecarousel .carousel-inner>.item>a img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none;
  }

  #tours .col-md-4, #tours .col-md-8 {
    padding: 0;
  }
}

/* More experiences */

#moreexp {
  margin-top: 5%;
}

.row#expsecond {
  margin-top: 2%;
}

#moreexp h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.featuredtour {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url('../images/home/uniquelysingapore.jpeg');
  min-height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.featuredtour#regularhome {
  background-image: url('../images/home/regulartours.jpeg');
}

.featuredtour#seasonalhome {
  background-image: url('../images/home/seasonaltours.jpg');
}

.exptitle {
  position: absolute;
  color: white;
  background-color: #e0402f;
  overflow: hidden;
  padding: 10px 20px;
  text-align: center;
  min-width: 250px;
}

.exptitle h5 {
  font-size: 30px;
}

.expoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(224,64,47,0.8);
  overflow: hidden;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.exptext {
  color: white;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.exptext h3 {
  font-weight: 700;
  margin-top: 10px;
}

#expsecond h3 {
  font-size: 80px;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
}

.exptext .btn {
  width: 40%;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  color: #e0402f;
  font-weight: 700;
}

#expsecond .exptext .btn {
  width: 80%;
}

.exptext a:hover {
  text-decoration: none;
}

.featuredtour:hover .expoverlay {
  opacity: 1;
  transition: .5s ease;
}

.featuredtour:hover .exptitle {
  opacity: 0;
  transition: .5s ease;
}

@media (max-width: 991px) {

  .featuredtour:hover .expoverlay {
    opacity: 0;
  }

  .featuredtour:hover .exptitle {
    opacity: 1;
  }

  .exptitle h5 {
    font-size: 24px;
  }

  .col-md-6 .featuredtour#seasonalhome {
    margin-top: 2%
  }

}


/* promo */

#promo {
  margin: 80px 0px 40px 0px;
}
#promo h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

#myCarousel3 .carousel-indicators li.active {
  background-color: #e0402f;
}

.promobg {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/home/promo1.jpg');
  min-height: 380px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.promobg#flashdeal {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/home/promo2.jpg');
}

.promobg#goodie {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/home/promo3.jpg');
}

.promobox {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e0402f;
}

.promobox h3 {
  color: white;
  font-size: 24px;
  padding: 12px 24px;
  margin: 0;
  font-weight: 700;
}

.promotext {
  position: absolute;
  color: white;
  top: 25%;
  width: 100%;
  padding: 0 5%;
  text-align: center;
  width: 70%;
  margin: auto;
}

.promotext p {
  font-size: 16px;
  color: white;
  margin-top: 20px;
}

#promo .promotext h3 {
  font-weight: 700;
  font-size: 48px;
}

@media (max-width: 776px) {

  #promo .promotext h3 {
    font-size: 32px;
  }
  #promo .promotext h2 {
    font-size: 20px;
  }
  #promo .promotext p {
    display: none;
  }
}

.box {
  background-color: rgba(0,0,0,0.25);
  height: auto;
  width: 100%;
}

#newsletter, .tourfaq {
  margin-top: 80px;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#newsletter {
  background-image: url('../images/global/newsletterbackground.jpg');
}


#newsletter h2,
.tourfaq h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 36px;
}

#newsletter p,
.tourfaq p {
  text-align: center;
  color: white;
  width: 80%;
  margin: 10px auto;
  margin-bottom: 20px;
}

#newsletter input,
.tourfaq input {
  width: 90%;
  margin: 10px auto;
  height: 40px;
  display: block;
  border-style: none;
  background-color: transparent;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white;
  -webkit-appearance: none;
  background-color: rgba(255,255,255,.2);
  padding-left: 10px;
  margin-right: 0px;
  z-index: 2;
}

#newsletter input:focus,
.tourfaq input:focus {
  border: 1px solid white;
}

#newsletter input::placeholder,
.tourfaq input::placeholder {
  color: white;
}

#newsletter button {
  width: 11%;
  margin: 10px auto;
  border: 1px solid #e0402f;
  border-radius: 0;
}

#newsletter .combine-form,
.tourfaq .combine-form {
  display: flex;
}

#newsletter .social,
.tourfaq .social {
  padding-top: 65px;
}

#newsletter .social img,
.tourfaq .social img {
  width: 40px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
}

@media (max-width: 767px) {
  #newsletter .col-sm-6,
  .tourfaq .col-sm-6 {
    width:100%;
  }
}

/*********** food gallery **********/
#food-gallery {
  /* border-bottom: 2px solid red; */
  padding-top: 40px;
}

#food-gallery h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

#food-gallery h3 {
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
  margin-bottom: 80px;
}

#food-gallery .wrapper {
  overflow: hidden;
}

#food-gallery .photobanner {
 height: 500px;
 width: 3200px;
 /* margin-bottom: 80px; */
}

#food-gallery .photobanner img {
  width: 400px;
  height: 500px;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
}

#food-gallery .photobanner img:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
 cursor: pointer;

 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

#food-gallery .photobanner:hover .first {
  animation-play-state: paused;
}

/*keyframe animations*/
#food-gallery .first {
 -webkit-animation: bannermove 35s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
     -ms-animation: bannermove 30s linear infinite;
      -o-animation: bannermove 30s linear infinite;
         animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

/*Achievements*/

#achievements {
  background-color: white;
  margin-bottom: 80px;
  margin-top: 60px;
}

#achievements img {
  display: block;
  margin: auto;
  width: 50%;
}

#achievements .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#achievements .col-sm-3 {
  margin: 0px 0;
}

@media (max-width: 776px) {
  #achievements .row {
  display: block;
  }
}
@media (max-width: 776px) and (min-width: 550px) {
  #achievements img {
    width: 25%;
  }
}

/*************** Instagram ************/

#instagram {
  /* border-bottom: 2px solid red; */
  background-color:white;
  margin-top: 40px;
}

#instagram h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

#instagram .wrapper {
  padding: 30px 150px;
  text-align: center;

}

#instagram img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

#instagram .col-sm-3 {
  margin: 25px 0px;
}

#instagram .caption {
  width: 90%;
  display: block;
  margin: auto;
  position: relative;
  height: 40px;
  bottom: 20px;
  background-color: white;
}

@media (max-width: 1119px) {
  #instagram .caption {
    width: 100%;
    bottom: 0px;
  }
}

@media (max-width: 991px) {
  #instagram .wrapper {
    padding: 30px 32px;
  }
}

@media (max-width: 776px) {
  #instagram img {
    width: 60%;
    height: 60%;
  }
  #instagram .caption {
    width: 60%;
  }
}

/*************** Footer ************/
footer {
  /* border-bottom: 2px solid red; */
  background-image: url('../images/global/footerbackground.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
}

.footer-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

footer .row#logorow {
  text-align: center;
  margin-top: 30px;
}

footer img#footerlogo {
  width: 92px;
  height: 80px;
  margin-top: -30px;
}

footer a .logo-name {
  font-size: 26px;
  color: #e0402f;
  display: inline-block;
}

footer .col-md-3 .btn {
  width: 80%;
  margin-left: 40px;
}

footer .wrapper {
  padding-top: 40px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #cccccc;
  text-decoration: none;
}

footer p {
  margin: 0;
  color: white;
}

footer .col-md-6 p {
  margin: 0 auto;
  color: white;
  width: 80%;
}

footer .col-md-3 p {
  margin: 0 auto;
  color: white;
  margin-bottom: 16px;
}

footer hr {
  margin-top: 60px;
}

footer ul {
  list-style-type: none;
  margin: 0 40px;
  padding: 0;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
}

footer li {
  float: left;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

footer .form-button {
  margin-top:0;
}
footer .btn:hover {
  color:red;
}

footer [class^=col-] {
  padding-bottom: 30px;
}

footer .col-md-3:last-of-type {
  padding:0;
  padding-top: 14px;
}

footer .socialmedia i {
  padding-right: 10px;
  font-size: 18px;
}

footer .signoff {
  padding-bottom: 20px;
}
footer .signoff p{
  display: inline-block;
}

footer .signoff img {
  width: 200px;
  height: 20px;
  float: right;
}

@media (max-width: 991px) {

  footer [class^=col-] {
    text-align: center;
    margin: auto;
  }

  footer li {
    float: none;
    display: inline-block;
  }

  footer .col-md-3 .btn {
    width: 50%;
    margin-left: 28%;
  }
}

/***************************************************** FAQ CSS *******************************************/
#faq {
  text-align: center;
}

#faq .specialbanner {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/faq/faqbanner.jpg');
}
#faq a, #faq a:hover {
  color:#e0402f;
  cursor: pointer;
  text-decoration: none;
}

#faq a h5  {
  color: black;
}

#faq a:hover h5 {
  color:#e0402f;
}

#faq .wrapper {
  margin-top: 80px;
  margin-bottom: 110px;
}

#faq .row {
  margin: 0px 60px;
}

#faq .row#row2 {
  padding: 0% 15%;
}

#faq .row#row3 {
  margin-top: 80px;
}

.faq-img{
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

.faq-img img {
  max-width: 100%;
  max-height: 100%;
}

.faq-img a:hover img {
  -webkit-filter: drop-shadow(1px 0px 0 #e0402f)
  drop-shadow(-1px 1px 0 #e0402f)
  drop-shadow(0px -1px 0 #e0402f)
  drop-shadow(1px 1px 0 #e0402f);

  filter: drop-shadow(1px 0px 0 #e0402f)
  drop-shadow(-1px 1px 0 #e0402f)
  drop-shadow(0px -1px 0 #e0402f)
  drop-shadow(1px 1px 0 #e0402f);
}

.faq-inner {
  display: none;
  text-align: left;
}

.faq-back {
  display: flex;
  align-items: center;
}

.faq-back .fas{
  font-size: 30px;
  color: #8a8a8a;
}

.faq-back .fas:hover {
  color: #e0402f;
}

.faq-inner img {
  width: 60px;
  height: 60px;
}

.faq-inner h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  display: inline-block;
}

.faq-inner .panel-group h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}

.faq-inner .panel-group {
  margin-top: 20px;
}

.faq-inner .panel-body {
  padding-left: 40px;
}

.faq-inner .panel-group .panel {
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
}

.faq-inner .panel-heading {
  background-color: #e8e8e8;
  border-radius: 0px;
  cursor: pointer;
}

.faq-inner .panel-default {
  border: none;
  border-top: 3px solid white;
}

.panel-group .panel+.panel {
  margin-top: 0;
}
@media (max-width: 991px) {

  #faq .row {
    margin: 0;
  }

  #faq .row#row2 {
    padding: 0%;
  }

  #faq [class^=col-] {
    margin-bottom: 4%;
  }
}
/***************************************************** Blog CSS *******************************************/
#blog {
  padding-top: 90px;
}

/* Blog banner */
#blog .blog-banner {
  background-image: url('../images/blog/blogheader.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 135px 0px 110px 0px;
}

#blog .blog-banner#indivblog {
  height:300px;
  background-image:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/blog/blogheader.jpg');
}

#blog .topblog {
  width: 350px;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px #ccc;
  text-align: center;
  margin-left: 6%;
}

.topnote {
  width:110px;
  height: 110px;
  background-color: #e0402f;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  padding-top: 24px;
  color: white;
  position: absolute;
  text-align: center;
}

.toptext {
  padding: 10%;
}

#blog .toptext p {
  text-align: center;
}

.toptext h3 {
  margin-top: 5px;
  font-size: 40px;
}

.toptext button{
  margin-top: 20px;
  background-color: transparent;
  border-style: none;
  border: 1px solid #e0402f;
  color: #e0402f;
  width: 50%;
  font-weight: 500;
}

.blogcategory {
  color: #ccc;
}
.blog-content .row {
  margin: 0;
}

.blog-content .wrapper {
  padding-top: 50px;
}

.toptext button:hover {
  color: white;
  background-color: #e0402f;
}

/* Category tabs */

#blog  [class^=col-] {
  padding: 0;
}
.blogtabs h5 {
  float:left;
}

#blog ul {
  display: inline-block;
  padding-left: 50px;
}
#blog .nav-pills>li.active>a, #blog .nav-pills>li.active>a:focus, #blog .nav-pills>li.active>a:hover {
  background-color: #e0402f;
  color: white;
}

#blog .nav-pills>li>a {
  border-radius: 0;
  color: black;
}

#blog .nav>li>a{
  padding: 0 20px;
}

#blog .nav>li {
  padding-top: 7px;
}

#blog .blogtitle {
  text-align: center;
  padding: 30px 0px;
  width: 90%;
  margin: auto;
  clear: both;
}

#blog #indivpost .blogtitle {
  margin-top: 10px;
}

/* Blog post image */

.blog-content .col-md-9 {
  border-right: 1px solid #ccc;
}
.blogpost {
  padding-bottom: 50px;
  max-width: 80%;
  margin: auto;
}

#blog .blogimage img, #blog .blogpostimage img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  transition: .5s ease;
  cursor: pointer;
}


#blog .blog-content#indivpost .blogpostimage {
  font-size: 12px;
  font-style: italic;
}

#blog .blogimage:hover img {
  opacity: 0.2;
}

#blog .blogimage:hover .middle {
  opacity: 1;
}

#blog .blogimage .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  padding-bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#blog .blogimage .text {
  border: 1px solid #E0402f;
  color: #E0402f;
  padding: 16px 32px;
}

#blog .blogimage a:hover .text{
  background-color: #E0402f;
  color:white;
}

#blog .blogimage a:hover {
  text-decoration: none;
}

/* Blog text content */

#indivpost p{
  margin: 40px 0;
}

#blog p {
  text-align: justify;
  font-weight: 300;
  font-size: 14px;
}

#blog p a{
  color:  #E0402f;
  font-weight: bold;
  font-size: 16px;
}

#blog hr {
  margin-top: 50px;
}

#blog .blogcredits p{
  display: inline-block;
}

#blog p.blogtags {
  float:right;
}

#blog p.blogtags a{
  font-size: 14px;
  font-weight: normal;
  color: black;
}

#blog p.blogtags a:hover {
  color: #e0402f;
}

.blogpageno {
  text-align: center;
  margin: 30px 0px 40px 0px;
  font-family: 'Montserrat', sans-serif;
}
#blog .blogpageno ul, .blogpageno ul{
  padding-left: 0;
  display: inline-block;
}

.blogpageno li{
  float: left;
  list-style: none;
  padding-right: 15px;
  font-size: 12px;
  font-weight: 600;
}

.blogpageno li a, a#returnmain{
  color: black;
}

.blogpageno li.active a{
  color:#E0402f;
}

.blogpageno li a:hover, a#returnmain:hover{
  color:#E0402f;
  text-decoration: none;
}

/* Blog right column */

#blogright .row {
  margin-top: 30px;
}

.blogrightbox{
  min-height: 90px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.blogrightbox img {
  width: 90px;
  height: 90px;
}

.blogrighttext {
  padding-left: 3%;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
  font-family: 'Montserrat', sans-serif;
}

.blogrighttext a {
  color: black;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.blogrighttext a:hover {
  color: #e0402f;
  text-decoration: none;
}

.blogrightad {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blogrightad#recommend {
  padding-bottom: 80px;
}

.blogrightad .featuredtour {
  min-height: 100px;
}

.blogrightad .exptitle {
  min-width: 0;
}

.blogrightad img {
  width: 98%;
}

.blogrightad .exptitle h5 {
  font-size: 14px;
}

.blogrightad .exptitle a {
  color: white;
}

.blogrightad .featuredtour:hover a{
  color: #e0402f;
}
.blogrightad .exptitle {
  padding: 2px 10px;
}

.blogrightad .featuredtour:hover .exptitle {
  opacity: 1;
  background-color: white;
  color: #e0402f;
}

.row#blogvid .blogvidimg img {
  border-radius: 50%;
}

.blogvidimg i {
  position: absolute;
  margin-left:30px;
  margin-top: 30px;
  font-size: 32px;
  color: white;
  opacity: 0.7;
}

.blogvidimg a:hover i {
  opacity: 1;
}

.futuredate {
  text-align: center;
  padding: 5px 20px;
}

.futuredate h3 {
  font-weight: 400;
}

.futuredate h3, .futuredate h5{
  margin: 0;
  padding: 0;
}


@media (max-width: 991px) {
  .blog-content .col-md-9 .wrapper {
    padding: 50px 20px 20px 20px;
  }

  #blogright {
    border-left:0;
    border-top: 1px solid #ccc;
    border-image: none;
    text-align: center;
  }

  .blogrightbox {
    justify-content: center;
  }

  .blogrightbox img {
    width: 120px;
    height: 120px;
  }

  .blogrighttext {
    width: 40%;
  }

  .blogrightad#recommend {
    padding-bottom: 0px;
  }

  .blogrightad .featuredtour, .blogrightad img {
    width: 55%;
    margin: auto;
  }

  .blogrightad .featuredtour {
    min-height: 200px;
  }

  .blogrightad .exptitle h5 {
    font-size: 20px;
  }

  .blogrightad .exptitle {
    padding: 5px 20px;
  }

  .blogrightad .col-md-6 {
    margin-top: 20px;
  }

  .blogvidimg i {
    margin-left:44px;
    margin-top: 44px;
  }

  .blog-content .col-md-9 {
    border-right: 0;
  }

}
@media (max-width: 776px) {
  #blog .topblog {
    display: block;
    margin: auto;
    width: 80%;
  }

  #blog .topnote {
    width: 100px;
    height: 100px;
    padding-top: 19px;
  }

  #blog .blogtitle h3 {
    font-size: 35px;
  }

  #blog .blogcredits p{
    display: block;
  }

  #blog p.blogtags {
    float: none;
  }
}


/***************** ABOUT US HTML ****************/
#about-us-banner {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/about/about.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 200px;
}

#about-us-banner .wrapper {
  width: 50%;
}

#about-us-banner h1{
  text-align: center;
  padding-top: 200px;
  font-size: 42px;
}

#about-us-intro h1 {
  text-align: center;
  margin-top: 50px;
}

#about-us-banner p,
#about-us-intro p {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  line-height: 25px;
}

#about-us-banner p {
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  line-height: 24px;
  color: black;
}

/* Assymetrical section */

.big-triangle {
  position:relative;
  top:101px;
}
#team .big-triangle {
  top:-160px;
}


.big-triangle:before {
    right: 50%;
    border-right: 1000px solid transparent;

}

.big-triangle:after {
    left: 50%;
    border-left: 1000px solid transparent;

}

.big-triangle:after, .big-triangle:before {
    content: '';
    position: absolute;
    z-index: 100;

    border-bottom: 100px solid #fff;
    -moz-transform: rotate(0.000001deg);
    -webkit-transform: rotate(0.000001deg);
    -o-transform: rotate(0.000001deg);
    -ms-transform: rotate(0.000001deg);
    transform: rotate(0.000001deg);
}

#about-us-intro {
  padding-bottom: 60px;
  margin-top: -30px;
}

#counter-banner .wrapper,
#team .wrapper {
  width: 80%;
}

#about-us-intro .row {
  margin-top: 80px;
}

#about-us-intro h3 {
  font-size: 24px;
  text-align: center;
}

#about-us-intro .fas,
#about-us-intro .far {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#about-us-intro .col-sm-4 {
  padding: 0 40px;
}

#counter-banner {
  padding-top: 60px;
  text-align: center;
  background: url('../images/about/counter-banner.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 60px;
}

#counter-banner h1,
#team h1 {
  padding-bottom: 40px;
}

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.end {
  margin-right: 0 !important;
}
/* Column Grids End */

.counter {
  padding: 20px 10px;
  border-radius: 5px;
}
.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

#counter-banner .counter p {
  font-size: 16px;
}

#counter-banner .row {
  margin-bottom: 40px;
}

#team {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 60px;
}

#team .card {
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 100%;
  background: #f4f4f4;
}

#team .foodies-1 {
  background: url('../images/about/tourguide1.jpg');
  background-position: center;
  background-size: cover;
}

#team .foodies-2 {
  background: url('../images/about/tourguide2.jpg');
  background-position: center;
  background-size: cover;
}
#team .foodies-3 {
  background: url('../images/about/tourguide3.jpg');
  background-position: center;
  background-size: cover;
}
#team .foodies-4 {
  background: url('../images/about/tourguide4.jpg');
  background-position: center;
  background-size: cover;
}

#team .card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#team .card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#team .team-content {
  background: #fff;
  padding: 20px;
  height: inherit;
  opacity: 0.85;
  padding-top: 100px;
}

#team p {
  font-size: 16px;
}

#team .team-content p {
  font-size: 16px;
}

#team .team-content h4 {
  font-weight: bold;
}

/***************************************************** Regular Tour CSS *******************************************/
.specialbanner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/regular tours/regularheader.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
}

.specialtext {
  margin: 40px 0px;
  text-align: center;
  color: white;
  width: 100%;
}

.specialtext p {
  color: white;
  width: 35%;
  margin: auto;
  margin-top: 20px;
}

.specialtext h2 {
  font-size: 56px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
}

@media (max-width: 776px) {
  .specialtext h2 {
    font-size: 50px;
  }

  .specialtext p {
    width: 50%;
  }
}

#tourpage {
  text-align: center;
}
#tourpage .wrapper{
  margin-top: 50px;
}

#tourpage .tours .col-sm-4 {
  padding: 0;
  margin-bottom: 40px;
}
#tourpage .tourback, #tourpage .touroverlay{
  width: 90%;
}

#tourpage .rightcol {
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  margin-right: 32px;
}

#tourpage .rightcol .form-control {
  font-weight: 300;
  color:black;
  border: 0.5px solid #999;
}

#tourright  [class^=col-] {
  margin-bottom: 10px;
}

#hour-range, #price-range{
  margin-top: 20px;
}

#tourpage .caption {
  color: black;
  font-family: 'Oswald';
  letter-spacing: 0;
  font-size: 12px;
  font-weight: 300;
}


@media (min-width: 992px){
  #tourpage .rightcol .col-sm-4 {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #tourpage .rightcol {
    margin: auto;
  }
}
@media (max-width: 776px) {
  #tourpage .tourback, #tourpage .touroverlay, #responsivecarousel .tourback, #responsivecarousel .touroverlay {
    width: 65%;
  }

  #tourpage .rightcol .form-control {
    margin: auto;
  }

  #tourpage .rightcol {
    text-align: center;
  }
}

@media (min-width: 500px) and (max-width: 776px){
  #tourpage .tourback, #tourpage .touroverlay {
    width: 55%;
  }

  #tourpage .tourback img {
    height: 90%;
  }
}

 .noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

 .noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #e0402f;
}

 .noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background: #e0402f;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

 .noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #ff8f7a;
  border: 8px solid rgba(224,64,47,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}

.slider-labels {
  margin-top: 10px;
}

/***************************************************** Seasonal Tour CSS *******************************************/
.specialbanner#seasonaltour{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/seasonal tours/seasonalheader.jpg');
}

/************************** contact us page **************************************************/
.contactform {
  padding-top: 100px;
}

.contactform h3 {
  text-align: center;
  margin-bottom: 20px;
}

.contactform p {
	text-align: center;
	margin-bottom: 50px;
}

.contactform .wrapper {
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 40px;
}

#contactform a {
  color: #e0402f;
}

#contactform .form-group input, textarea{
    width: 90%;
    font-weight: 500;
}

#contactform{
	text-align: center;
	padding-bottom:100px
}

#contactform h3{
	font-size:20px;
}

#contactdetails{
	border-left:1px solid #ccc;
}

@media (max-width: 991px) {
  #contactdetails{
    border-left:none;
    margin-top: 80px;
  }

  .contactform .wrapper {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  #contactdetails{
    border-left:none;
    }
}

/***************** Booknow Page  ***************/

#booknow-banner .specialbanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/booking/booknow-banner.jpg');
  padding-bottom: 20px;
}
#booknow-form {
  margin-top: 80px;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 170px;
}

#booknow-form h3 {
  text-align: center;
  font-size: 36px;
}

#booknow-form .wrapper{
  width: 90%;
}

#booknow-form .form-group input,
#booknow-form .form-group select {
  border: 1px solid lightgrey;
}

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #e0402f;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-primary,
.btn-primary:hover {
  background: #e0402f;
  border-color: #e0402f;
}

.disabled {
  display: none;
}

.nextBtn {
  background: #e0402f;
  color: #fff;
}

.prevBtn {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

 #form-combine {
  padding: 40px 40px 40px;
}

#step-3 #form-combine {
  padding: 185px 40px 40px;
}


#calendar{
  font-family: 'Lato', sans-serif;
  float: left;
  margin-right: 20px;
  height: 550px;
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 100%;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #f4f4f4;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: #F8F8F8;
}
#calendar_content div.blank{
  background-color: #E8E8E8;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  background: #e0402f;
  color: #fff;
  opacity: 0.7;
}

#calendar_content div.today p {
  color: #fff;
  line-height: 30.5714px;
  zoom: 1.3;
}

#calendar_content .today-date {
  zoom: 1;
  background: #f4f4f4;
  color: #e0402f;
  text-decoration: underline;
  font-weight: 600;
}

#calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h1{
  font-size: 1.5em;
  color: #FFFFFF;
  float:left;
  width:70%;
  margin-top: 3px;
}
#calendar i[class^=fas]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
  margin-top: -15px;
}

#form-combine .form-group .form-control
 {
  color: black;
}

#form-combine .tour-results .number-results,
#form-combine .tour-results-init .number-results {
  color: #e0402f;
  font-weight: bold;
}

#form-combine .green {
  color: green;
  margin-top: 30px;
  margin-bottom: 0;
}

.tour-findings {
  display: flow-root;
  margin-bottom: 30px;
}

.order-summary .tour-findings {
  margin-bottom: -15px;
  font-weight: 800;
}

.tour-findings h4{
  font-weight: 800;
  margin-bottom: 0;
}

.tour-findings .time{
  float: left;
}

.tour-findings .price{
  float: right;
  padding-right: 10px;
}

#form-combine .form-button {
  width: 150px;
  margin-top: 0;
}

#form-combine .hurry-btn {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}

#form-combine .hurry-btn button {
  float: left;
  margin-right: 10px;
}

#form-combine .hurry-btn p {
  padding: 10px;
  color: #e0402f;
  font-weight:500;
}

#form-combine .result-title {
  padding: 10px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.calendar-sub {
  display: none;
}
.order-summary {
  padding: 90px 60px;
  padding-right: 0px;

}
.order-summary h4 {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
  background-color: #e0402f;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}

.order-details {
  border: 1px solid black;
}

.order-summary .order {
  padding: 20px;
}

.order-summary .promocode {
  display: inline-flex;
  margin: auto;
  padding: 20px 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.order-summary .promocode input {
  width: 400%;
  border: 1px solid lightgrey;
  padding-left: 10px;
}

.order-summary .promocode .form-button {
  margin-top: 0px;
  border-radius: 0;
}
.order-summary .promocode .form-button:hover,
.order-summary .promocode .form-button:focus{
  color: #fff;
  text-decoration: none;
}

.order-summary #displaysubtotal,
.order-summary #displaydiscount,
.order-summary #displaytotal,
.order-summary #displayfinaltotal,
.order-summary #displayfinalsubtotal,
.order-summary #displayfinaldiscount {
  float: right;
}

.order-summary #discount,
.order-summary #discountfinal {
  display: -webkit-inline-box;
}

.order-summary #discount img,
.order-summary #discountfinal img {
  margin: 5px;
}

.confirmation-details p {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.order-summary .order .form-group {
  margin-bottom: -5px;
}

.discount-promo{
  background-image: url(../images/booking/Asset-105.jpg);
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1020px) {
  #calendar {
    float: none;
    margin: auto;
  }

  .col-sm-5 {
    width: 100%;
  }

  #form-combine {
    padding-top: 40px;
  }
  .calendar-sub {
    display: none;
  }
}

@media (max-width: 992px) {
  .order-summary {
    padding: 0px;
    margin-bottom: 40px;
  }

  #step-3 #form-combine {
    padding: 40px 40px 40px;
  }
}

@media (max-width: 768px) {
  .col-sm-5 {
    width: 100%;
  }
  .calendar-sub {
    display: none;
  }
}

@media (max-width: 600px) {
  #calendar {
    display: none;
  }
  .calendar-sub {
    display: block;
    padding: 0px 40px;
    margin: auto;
  }

  .calendar-sub input {
    color: black;
  }

  #form-combine .hurry-btn button {
    float: none;
    margin-right: 10px;
  }
}

/***************************************************** Die Die Must Try CSS *******************************************/
#diedietour .specialbanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../images/diedie/diediemusttry.jpg');
  height: 350px;
}

/* Tour time */
.tourtime {
  text-align: center;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.tourtime .row {
  border-bottom: 0.5px solid #ccc;
}

.tourtime .form-button {
  margin: auto;
  width: 65%;
}

.tourtime h5 {
  margin: 0;
  font-size: 24px;
  line-height: 12px;
  font-family: 'Oswald', sans-serif;
}


@media (min-width: 777px) {
  .tourtime .row {
    padding: 0 10%;
    height: 100%;
  }

  .tourtime .col-sm-3 {
    padding: 0;
  }

  .tourtime .border-left {
    min-height: 65px;
    border-left: 0.5px solid #ccc;
  }

  .tourtime .border-left#timebtn {
    border-right: 0.5px solid #ccc;
  }

  .tourtime .border-left#timebtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
  @media (max-width: 776px) {

    .tourtime .col-sm-3 {
      margin-top: 20px;
    }

    .tourtime .form-button {
      width: 40%;
      margin-bottom: 20px;
    }
  }


.toursummary {
  margin: auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.toursummary .tour-text {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.toursummary .tour-text img,
.tourreview .tour-text img {
  width: 150px;
  height: 25px;
}

.toursummary .tour-text p,
.tourreview .tour-text p {
  margin: 10px;
}

.toursummary .diedie-desc {
  width: 80%;
  margin: auto;
}

.toursummary .diedie-desc p {
  font-size: 16px;
  line-height: 24px;
}

.toursummary .diedie-list {
  text-align: left;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}


.toursummary .diedie-list li{
  list-style: none;
  padding-left: 30px;
  font-size: 14px;
}

.tourfood {
  margin-bottom: 700px;
}
.tourfood .col-sm-6{
  padding: 0px;
}

.tourfood .tourfood-img {
  height: 300px;
  background-position: center;
  background-size: cover;
}

.tourfood h2 {
  color: #fff;
  font-size: 42px;
  text-align: center;
  padding-top: 120px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
}

.tourfood .img1 {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url('../images/diedie/diedieimg1.jpeg');
}


.tourfood .img2 {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url('../images/diedie/diedieimg2.jpeg');
}

.tourfood .img3 {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url('../images/diedie/diedieimg3.jpeg');
}

.tourfood .img4 {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url('../images/diedie/diedieimg4.jpeg');
}

#uniquesg .tourfood .img1 {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url('../images/uniquely/chendolxlb.jpg');
}

#uniquesg .tourfood .img2 {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url('../images/uniquely/ayambuahkeluakburger.jpeg');
}

#uniquesg .tourfood .img3 {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url('../images/uniquely/bcmgrilledcheese.jpeg');
}

#uniquesg .tourfood .img4 {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url('../images/uniquely/mapotofuburger.jpeg');
}

@media (max-width: 768px) {
  .tourfood .col-sm-6{
    padding: 20px;
  }

  .tourfood {
    margin-bottom: 120px;
  }

  .toursummary .diedie-list {
    display: block;
  }

  .toursummary .diedie-list ul {
    padding: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .toursummary .diedie-list li {
    padding: 0;
  }
}

.tourbook {
  padding-bottom: 100px;
}

.tourbook .wrapper{
  margin: auto;
  width: 90%;
}

.tourbook .wrapper h3{
  text-align: center;
}

.tourfaq {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/diedie/diedie-faq.jpg');
  margin-top: 0px;
  margin-bottom: 80px;
}

.tourfaq button{
  width: 20%;
  display: inline-block;
}

.tourfaq .box {
  padding-bottom: 20px;
}

.tourreview {
  display: flex;
  padding-bottom: 100px;
}

.tourreview .tour-text {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
}


.tourreview p {
  margin-top: 0px;
}

.tourreview .col-md-6 {
  border-left: 1px solid lightgrey;
}

.tourreview .review-bars {
  padding: 20px;
}

.tourreview .star {
  display: flex;
  margin-bottom: 20px;
}

.tourreview .star-bar {
  background-color: #EFCE4A;
  height: 20px;
  margin-top: 5px;
  margin-left: 30px;
}

.tourreview .five {
  width: 80%;
}

.tourreview .four {
  width: 60%;
}

.tourreview .three {
  width: 20%;
}

.tourreview .two {
  width: 10%;
}

.tourreview .one {
  width: 5%;
}

.tourreview .review-grp {
  padding-top: 40px;
}

.tourreview .review {
  padding: 0px 40px;
  margin-bottom: 60px;
}

.tourreview .person-round img{
  border-radius: 40px;
  margin-right: 20px;
}

.tourreview .person-face {
  float: left;
}

.tourreview .person-comment {
  margin-top: 25px;
  padding-left: 90px;
}

.tourreview .person-comment p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 992px) {
  .tourreview .col-md-6 {
    border-top: 1px solid lightgrey;
    border-left: none;
  }
  .tourreview .review-bars {
    padding-bottom: 60px;
  }

  .tourreview .review-grp {
    padding-top: 80px;
  }


}

.crosssell {
  margin-top: 40px;
  margin-bottom: 110px;
}

.crosssell .wrapper{
  text-align: center;
}

.crosssell .col-md-3 {
  margin-top: 60px;
  padding: 0;
}

.crosssell .col-lg-12 {
  margin-top: 40px;
}

.crosssell .col-lg-12 a {
  float: right;
  color: #e0402f;
  text-decoration: none;
}

.crosssell .tours .tourback, .crosssell .tours .tourback .touroverlay {
  width: 90%;
}

@media (max-width: 991px) {
  .crosssell .col-lg-12 {
    margin-top: 60px;
  }

  .crosssell .col-lg-12 a {
    float: none;
  }
}
@media (min-width: 600px) and (max-width: 991px) {
  .crosssell .tours .tourback, .crosssell .tours .tourback .touroverlay {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .crosssell .tours .tourback, .crosssell .tours .tourback .touroverlay {
    width: 80%;
  }

}

/*****************************************************'Uniquely' Singapore CSS *******************************************/
#uniquesg .specialbanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../images/uniquely/hainaneserice.jpeg');
  height: 350px;
}


/***************************************************** CORPORATE PAGE *******************************************/
.specialbanner#corporate {
  background-image:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/corporate/corporateheader.jpg');
  height: 350px;
}

#text{
padding:50px 50px 90px 50px;
}

#text h3{
padding-bottom:20px;
text-align: center;
}

#corporatetext{
width: 60%;
margin: auto;
font-weight: 300;
}

#text a {
color: #e0402f;
}

.border{
  margin-top: 40px;
}

.content{
padding-bottom:100px;
}

.content .featuredtour {
  min-height: 250px;
}

.content .featuredtour .exptitle {
  padding: 4px 20px;
  min-width: 160px;
}

.content .featuredtour h5 {
  font-size: 20px;
}

.content .featuredtour .exptext {
  font-size: 12px;
  width: 80%;
}

.featuredtour#corporatefoodtour {
  background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/corporate/foodtours.jpg');
}

.featuredtour#corporatecookingclass {
  background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/corporate/cookingclass.jpg');
}

.featuredtour#corporatecatering {
  background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/corporate/catering.jpg');
}

@media (max-width: 1000px) {
#corporatetext{
width:100%;
margin: auto;
}

}

@media (max-width: 991px) {
  .col-sm-12 {
    padding-bottom: 50px;
}
}
/* privacypolicy*/
.text {
height: auto;
margin-bottom:50px;

}

#privacypolicy p{
font-weight:400;
}

#privacypolicy .specialbanner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/privacypolicy.jpg');
    height: 350px;
}

#termsandcondition .specialbanner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/termsandcondition.jpg');
    height: 350px;
}
